<li [ngClass]="{'list-group-item' : true, 
               'list-group-item-success' : postLoveIts > 0 ,
               'list-group-item-danger' : postLoveIts < 0 }"
    [ngStyle]="{color: getColor()}"
               >
    <p style="float: right;">{{ lastUpdate | date: 'short' }}</p>
    <h3><b>{{ postTitle }}</b></h3>
    <p>{{postContent}}</p>
    <p><i>{{postLoveIts}}</i></p>
    <button class="btn btn-success" style="margin:10px;" 
        (click)="onLove()"><i class="fa fa-thumbs-up"></i>
    </button>
    <button class="btn btn-danger" style="margin:10px;" 
        (click)="onDontLove()"><i class="fa fa-thumbs-down"></i>
    </button>
</li>